
.portfolio-banner {
    display: flex;
    align-items: center;
    height: 99px;
    background-color: rgba(255, 255, 255, 0.601);
    border: 2px solid white;
    width: 80rem;
    margin-top: 2rem;
  }


 

  
  .portfolio-icon {
    margin-right: 10px;
    color: rgb(232, 54, 54);

  }
  
  .portfolio-div {
    margin-left: auto; 
    font-size: 2.5rem;
    margin-right: 15rem;
    font-weight: 700;
    color: rgb(232, 54, 54);
  }
  