.intro {
    padding: 40px;
    max-width: 700px;
    margin: 0 auto;
    margin-left: 0rem;
  }
  
  .intro-image {
    width: 100%;
    height: 150px;
    overflow: hidden;
   margin-left: -4rem; 
   margin-top: -2rem;
  }
  
  .intro-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   border-bottom: 2px solid #242424;   

  }
  
  .horizontal-line {
    height: 1px;
    background-color: #ec0606;
    margin: 30px 0;
  }
  
  .intro-text {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 40px;
    margin-top: 2rem;
    font-weight: 800;
  }
  
  .highlight {
    color: red;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .contact-icon {
    color: #333;
    min-width: 32px;
  }
  
  .contact-text {
    font-size: 16px;
    color: #333;
    text-decoration: none;
  }
  
  .contact-text:hover {
    text-decoration: underline;
  }