.intro {
    padding: 40px;
    max-width: 700px;
    margin: 0 auto;
    margin-left: 0rem;
  }
  
  .intro-image {
    width: 100%;
    height: 150px;
    overflow: hidden;
   margin-left: -4rem; 
   margin-top: -2rem;
  }
  
  .intro-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   border-bottom: 2px solid #242424;   

  }

  .overlay-text {
    position: absolute; /* Positions it relative to .intro-image */
    left: 50%; /* Centers horizontally within .intro-image */
    transform: translate(-50%, -50%); /* Ensures perfect centering */
    background-color: #1f4d55; /* Background color for the text */
    color: rgb(186, 103, 1); /* Text color */
    padding: 10px 20px; /* Padding around the text */
    font-size: 1.5rem; /* Adjust font size as needed */
    font-weight: bold; /* Bold text for emphasis */
    border-radius: 5px; /* Optional: rounded corners */
    text-align: center;
    z-index: 1; /* Ensures it appears above the image */
    margin-top: -3rem;
    font-size: 2rem;
    cursor: pointer;
  }  
  
  .horizontal-line {
    height: 1px;
    background-color: #ec0606;
    margin: 30px 0;
  }
  
  .intro-text {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 40px;
    margin-top: 2rem;
    font-weight: 800;
  }
  
  .highlight {
    color: red;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .contact-icon {
    color: #333;
    min-width: 32px;
  }
  
  .contact-text {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
  }
  
  .contact-text:hover {
    text-decoration: underline;
  }