.profile {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    margin-left: -5rem;
    
  }
  
  .hello {
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 6rem; 
    color: #a35803;
    margin-bottom: 1rem;
  }
  
  .name {
    font-size: 3rem;
    color: #3c626b;
  }
  